Repository StPfeffer/java-tools-challenge, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, dependencies, docker, docs, github

.github/labeler.yml:

workflows:
  - changed-files:
      - any-glob-to-any-file: [ '.github/workflows/**/*' ]

dependencies:
  - changed-files:
      - any-glob-to-any-file: [ 'pom.xml' ]

docker:
  - changed-files:
      - any-glob-to-any-file: [ 'Dockerfile', 'compose.yaml', '.dockerignore' ]

bug:
  - head-branch: [ '^fix', 'fix', '!code-scanning', '!scanning', '!fix-code-scanning' ]

docs:
  - changed-files:
      - any-glob-to-any-file: [ 'docs/**', '*.md' ]

github:
  - changed-files:
      - any-glob-to-any-file: [ '.github/**/*' ]

feat: mappers estáticos
  pom.xml
  src/main/java/com/pfeffer/javatoolschallenge/controller/PagamentoController.java
  src/main/java/com/pfeffer/javatoolschallenge/exception/TransacaoJaExisteException.java
  src/main/java/com/pfeffer/javatoolschallenge/exception/TransacaoNotFoundException.java
  src/main/java/com/pfeffer/javatoolschallenge/mapper/DescricaoTransacaoMapper.java
  src/main/java/com/pfeffer/javatoolschallenge/mapper/FormaPagamentoMapper.java
  src/main/java/com/pfeffer/javatoolschallenge/mapper/PagamentoMapper.java
  src/main/java/com/pfeffer/javatoolschallenge/mapper/TransacaoMapper.java
  src/main/java/com/pfeffer/javatoolschallenge/service/PagamentoService.java
  src/test/java/com/pfeffer/javatoolschallenge/mapper/DescricaoTransacaoMapperTest.java
  src/test/java/com/pfeffer/javatoolschallenge/mapper/FormaPagamentoMapperTest.java
  src/test/java/com/pfeffer/javatoolschallenge/mapper/PagamentoMapperTest.java
  src/test/java/com/pfeffer/javatoolschallenge/mapper/TransacaoMapperTest.java
  src/test/java/com/pfeffer/javatoolschallenge/service/PagamentoServiceTest.java
Labels: dependencies

docs: melhoria no README
  README.md
Labels: docs

feat: configuração p/ Docker
  .dockerignore
  .github/workflows/checkstyle.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/dependency_review.yml
  .github/workflows/label.yml
  Dockerfile
  compose.yml
  pom.xml
Labels: workflows, dependencies, docker, github

actions: removido workflow para revisão de dependências
  .github/workflows/dependency_review.yml
Labels: workflows, github

docs: adicionadas badges ao README
  .github/workflows/coverage.yml
  README.md
Labels: workflows, docs, github

workflow: removido etapa de geração de badge de cobertura de testes
  .github/workflows/coverage.yml
Labels: workflows, github
